.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.text {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 2px;
    margin-bottom: 18px;
}
.text > span {
    color: var(--red);
}
.logoSelector {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--middleGrey);
    font-size: 1.5rem;
    height: 40px;
    width: 40px;
    border-radius: 7px;
    border: 1px solid var(--middleGrey);
}
.logoSelector:hover {
    color: var(--ph);
}
.imageContainer {
    width: fit-content;
    overflow: hidden;
    height: 40px;
    border: 1px solid var(--middleGrey);
    border-radius: 7px;
}
.imageContainer > img {
    height: 100%;
    max-width: 100%;
}
.inputContainer {
    display: flex;
    align-items: center;
}
.hiddenInput {
    display: none;
}
