.wrapper {
    display: flex;
}
.container {
    box-sizing: border-box;
    padding: 25px;
    width: 550px;
    display: flex;
    flex-direction: column;
}
.title {
    height: 44px;
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: 700;
    font-family: Recoleta;
}
.sub {
    margin: 10px 0 15px 0;
}
.buttonContainer {
    align-self: flex-end;
    width: 200px;
}
.spacer {
    height: 15px;
}
.email {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border-radius: 7px;
    background: var(--base);
    border: 1px solid var(--middleGrey);
    color: var(--ph);
    padding: 0 15px;
}