# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/main/node_modules
/business/node_modules
/functions/node_modules
.gitignore
.eslintcache
*.env.local
*.env.production

# testing
/coverage

# production
/main/build
/business/build

# misc
.git
.DS_Store*
/main/.env.development
/business/.env.production

npm-debug.log*
firebase-debug.log
