.container {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-radius: 30px;
  width: 130px;
  cursor: pointer;
  transition: .1s;
  color: var(--dark)!important;
}
.container:link {
  color: var(--dark);
}
.container > p {
  margin: 0;
}
.container > div {
  margin-right: 17px;
  width: 1.1rem;
  height: 1.1rem;
  font-size: 1.1rem;
}
.container:hover {
  color: var(--blue)!important;
}
.active {
  background: var(--blueLight);
}
.active > p {
  color: var(--blue);
}
.active > div {
  color: var(--blue);
}
