.modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: var(--light);
    top: 0;
    width: 100%;
    min-height: 100vh;
    z-index:999;
    padding: 25px;
    box-sizing: border-box;
}
.container {
    max-width: 800px;
    margin: 5% auto 5% auto;
}
.title {
    position: relative;
    font-family: Recoleta;
    font-weight: bold;
    font-size: 4em;
    margin: 0;
    line-height: 1.1em;
}
.sub {
    margin: 0;
    font-family: inter;
    font-weight: normal;
    font-size: 1.3em;
    margin-top: 15px;
}

