/*_______ Fonts __________*/

/* Recoleta Regular */
@font-face {
    font-family: "Recoleta";
    src: url("./fonts/RecoletaRegular.ttf");
    font-weight: normal;
    font-style: normal;
}

/* Recoleta Bold */
@font-face {
    font-family: "Recoleta";
    src: url("./fonts/RecoletaBold.ttf");
    font-weight: bold;
    font-style: normal;
}

:root {
    --blue: #2d7af2;
    --blueHover: #4a89ee;
    --blueGlow: #2d79f270;
    --blueTransparent: #2d79f218;
    --blueDark: #0f61b9;

    --main: #ffe390;
    --yellow: #f9c463;

    --red: #ff6760;
    --redDark: #c04a3f;

    --light: white;
    --base: #fafafa;
    --middleGrey: #ebebeb;
    --ph: #bdbdbd;
    --darkGrey: #4e4e4e;
    --dark: black;

    --transparentBg: rgba(0, 0, 0, 0.8);
}

html {
    background-color: var(--base);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Ubuntu, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

h1 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    cursor: default;
}

a:active,
a:visited {
    color: inherit;
}

/*__________ Modifiers __________*/

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.global--textflag {
    position: absolute;
    background: black;
    padding: 3px 9px;
    border-radius: 20px;
    font-size: 0.5em;
    color: white;
    transform: translate(5px, -5px);
}
