.wrapper {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    border-radius: 7px;
    background-color: var(--light);
    cursor: pointer;
    font-family: recoleta;
    font-weight: bold;
}
.txt {
    margin-right: 5px;
}
