.wrapper {
    margin-bottom: 70px;
}

.spacer {
    height: 200px;
    width: 100%;
}

.ownerContainer {
    display: flex;
    margin: 0 25px;
}

.ownerContainer>p:nth-child(2) {
    font-weight: bold;
    margin-left: 5px;
}





