.img {
  height: 16px;
}
.navbar {
  height: 82px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  max-width: 1400px;
  min-width: 800px;
  position: relative;
  z-index: 1;
  align-items: center;
}
