.base {
    background: var(--main);
}

.wrapper {
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
    align-items: center
}

.form {
    max-width: 350px;
    width: 100%;
    height: fit-content;
    border-radius: 17px;
    box-sizing: border-box;
    padding: 0 25px;
    margin: -80px auto 0 auto
}

.title {
    width: fit-content;
    font-size: 3rem;
    font-family: Recoleta;
    margin: 0 0 15px 0
}

.err {
    padding: 10px 15px;
    background: var(--red);
    border-radius: 7px;
    color: white;
    text-align: left;
}

/*__________ Modifiers __________*/
.bold {
    font-weight: bold;
}