.nav {
    color: var(--dark);
    height: 65px;
    position: fixed;
    width: 100%;
    background: var(--light);
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    bottom: 0;
    z-index: 999;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-sizing: border-box;
    z-index: 2;

}

.link {
    align-items: center;
    display: flex;
    cursor: default;
    margin-left: 25px;
    color: black;
}

.container {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 25px;
    max-width: 1400px;
    width: 100%;
    z-index: 1;
}

.menuContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}


/*__________ MODIFIERS __________*/

.topLayer {
    z-index: 999;
}


/*__________ Mobile __________*/
@media(min-width:600px){
    .nav {
        display: none;
    }
}