.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header {
    display: flex;
    margin-bottom: 5px;
}
.header>h3 {
    font-weight: 500;
}
.thumbnail {
    width: 75px;
}
.name {
    width: 45%;
}
.size {
    width: 22%;
}
.date {
    width: 22%;
}
.filesContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: inset 0 0 4px #00000013;
    border-radius: 10px;
    min-height: 200px;
    max-height: 50%;
    overflow: scroll;
}
.noFiles {
    color: var(--darkGrey);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hiddenInput {
    display: none;
}


