/*_______ Fonts __________*/
/* Recoleta Regular */
@font-face { font-family: 'Recoleta'; src: url('./fonts/RecoletaRegular.ttf'); font-weight: normal; font-style: normal;}
/* Recoleta Bold */
@font-face { font-family: 'Recoleta'; src: url('./fonts/RecoletaBold.ttf'); font-weight: bold; font-style: normal;}
/* Inter Lighter */ 
@font-face { font-family: 'Inter'; src: url('./fonts/InterLighter.ttf'); font-weight: 200; font-style: normal;}
/* Inter Regular */
@font-face { font-family: 'Inter'; src: url('./fonts/InterRegular.ttf'); font-weight: normal; font-style: normal;}
/* Inter Medium */
@font-face { font-family: 'Inter'; src: url('./fonts/InterMedium.ttf'); font-weight: 500; font-style: normal;}
/* Inter Bold */
@font-face { font-family: 'Inter'; src: url('./fonts/InterBold.ttf'); font-weight: bold; font-style: normal;}


:root {
    --dark: black;
    --light: white;
    --main: #FFE390;
    --yellow: #F9C463;
    --blue: #358FDD;
    --red: #FF6760;
    --redDark: #C04A3F;
    --ph: #bdbdbd;
    --bg: #fafafa;
}

html {
    font-family: Inter;
}

a {
    text-decoration: none;
}