.button {
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 7px;
    background-color: var(--blue);
    color: var(--light);
    font-size: 16px;
    box-shadow: 0 2px 8px var(--blueGlow);
    cursor: pointer;
}
.button:hover {
    background-color: var(--blueHover);
}
.button:disabled {
    background-color: var(--middleGrey);
    box-shadow: none;
    cursor: default;
}
.button:disabled:hover {
    background-color: var(--middleGrey);
}
.thin {
    height: 35px;
}
.bold {
    font-weight: bold;
}
.red {
    color: "var(--light)";
    background-color: var(--red);
    box-shadow: 0 1px 3px var(--redGlow);
}
.red:hover {
    background-color: var(--redHover);
}
