.wrapper {
    display: flex;
}
.container {
    box-sizing: border-box;
    padding: 25px;
    width: 550px;
    display: flex;
    flex-direction: column;
}
.title {
    height: 44px;
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: 700;
    font-family: Recoleta;
}