/*code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}*/

:root {
    --base: #fafafa;
    --dark: black;
    --light: white;
    --main: #ffe390;
    --yellow: #f9c463;
    --blue: #2d7af2;
    --blueHover: #4a89ee;
    --blueGlow: #2d79f270;
    --blueTransparent: #2d79f218;
    --blueLight: #e7f0ff;
    --blueDark: #0f61b9;
    --red: #ff6760;
    --redDark: #c04a3f;
    --darkGrey: #4e4e4e;
    --ph: #bdbdbd;
    --middleGrey: #ebebeb;
    --bg: #fafafa;
    --transparentBg: rgba(0, 0, 0, 0.8);
}

@font-face {
    font-family: "Recoleta";
    src: url("./fonts/RecoletaBold.ttf");
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Ubuntu, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    font-size: 16px;
}

h3 {
    font-size: 1rem;
    margin: 0;
}

a {
    text-decoration: none;
    border-radius: 7px;
}

a:active,
a:visited {
    color: var(--dark);
}

a:focus,
a:active {
    /*box-shadow: inset 0 0 2px #00000012, 0 0 0 3px var(--blueGlow) !important;*/
    transition: 0.3s;
}

button:focus,
button:active,
input:focus,
input:active,
a:focus,
a:active {
    outline: none;
}
